#menu a img{
     height:100px;
     width: 320px
}
#menu{
    background: linear-gradient(to right, white, rgb(58, 57, 57), black);
    overflow: hidden;
    font-size: 34px;
}
#menu #left{
    color: white;
    font-size: 20px;
    padding: 17px;
    float: left;
    text-align: center;
    text-decoration: none
}
#menu #right{
    color: white;
    font-size: 20px;
    padding: 17px;
    float: right;
    text-align: center;
    text-decoration: none;
}
#menu #right:hover{
     border-bottom: 12px solid white
}
#menu #left:hover{
    background-color: white;
    color: black;
}
#container{
    display: flex;
    flex-wrap: nowrap
}
#left-side{
    flex:50%;
}
.oneone{
    background-image: url("question.png");
    position: relative;
    over-flow: hidden
}
.oneone #right-side ul li{
    color: white;
    font-size: 23px;
}
.oneone #right-side{
    padding:20px
}
.oneone #left-side #si{
    color: white;
    padding: 30px;
    font-size: 66px
}
.twotwo{
    background-image: url("discuss.png");
    position: relative;
    over-flow: hidden
}
.twotwo #right-side ul li{
    color: white;
    font-size: 23px;
}
.twotwo #right-side{
    padding:20px
}
.twotwo #left-side h2{
    color: white;
    padding: 30px;
    font-size: 66px
}
.thirdthird{
    background-image: url("background.jpeg");
    position: relative;
    over-flow: hidden
}
.thirdthird  #right-side{
    padding:20px
}
.thirdthird #left-side h2{
    color: white;
    padding: 30px;
    font-size: 46px
}
.fourfour {
    background-image: url("download.jpeg");
    position: relative;
    over-flow: hidden
}
.fourfour  #right-side{
    padding:20px
}
.fourfour  #left-side h2{
    color: white;
    padding: 30px;
    font-size: 46px
}
.fourfour  #right-side ul li{
    color: white;
    font-size: 23px;
}
.fourfour  #right-side ul li a{
    color: white;
    font-size: 20px;
}
#right-side{
    flex:50%;
}
#footer{
    background-color: black;
    padding: 20px;
    color: white;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
} 
table td, table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 17px;
    background-color: #04AA6D;
    color: white;
}
#mec{
    width:90px;
    height: 110px
}
@media(max-width: 1000px){
    #menu{
        background-color: grey;
        padding: 12px;
        overflow: hidden;
        font-size: 22px;
    }
        #menu #left{
        color: white;
        font-size: 22;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 22;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%
    }
}
@media(max-width: 800px){
    #menu{
        background-color: grey;
        padding: 10px;
        overflow: hidden;
        font-size: 20px;
    }
    #menu #left{
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 470px){
    #menu{
        background-color: grey;
        overflow: hidden;
        font-size: 18px;
    }
    #menu #left{
        color: white;
        font-size: 18px;
        padding: 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 18px;
        padding: 10px;
        float: right;
        text-align: center;
        text-decoration: none
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 430px){
    #menu{
        background-color: grey;
        overflow: hidden;
        font-size: 12px;
    }
    #menu #left{
        color: white;
        font-size: 12px;
        padding: 6px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 12px;
        padding: 6px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 400px){
    #menu{
        background-color: grey;
        padding: 4px;
        overflow: hidden;
        font-size: 12px;
    }
    #menu #left{
        color: white;
        font-size: 11px;
        padding: 9px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 12px;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
