#title{
    background-image: url("image.jpg");
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
}
#menu{
    background-color: grey;
    padding: 5px;
    overflow: hidden;
    font-size: 34px;
}
#menu #left{
    color: white;
    font-size: 34px;
    padding: 10px 14px;
    float: left;
    text-align: center;
    text-decoration: none
}
#menu #right{
    color: white;
    font-size: 34px;
    padding: 10px 14px;
    float: right;
    text-align: center;
    text-decoration: none;
}
.here{
    color: white;
    font-size: 34px;
    padding: 10px 14px;
    float: left;
    text-align: center;
    text-decoration: none;   
}    
#menu #right:hover{
    background-color: white;
    color: black;
}
#menu #left:hover{
    background-color: white;
    color: black;
}
#container{
    display: flex;
    flex-wrap: nowrap
}
#left-side{
    flex:50%;
}
.oneone{
    background-image: url("images.jpeg");
    position: relative;
    over-flow: hidden
}
.oneone #right-side ul li{
    color: white
}
.oneone #left-side #si{
    color: white;
    padding: 30px;
    font-size: 66px
}
#right-side{
    flex:50%;
}
#footer{
    background-color: black;
    padding: 20px;
    color: white;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
} 
table td, table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 17px;
    background-color: #04AA6D;
    color: white;
}
img{
    width:90px;
    height: 110px
}
@media(max-width: 1000px){
    #menu{
        background-color: grey;
        padding: 12px;
        overflow: hidden;
        font-size: 22px;
    }
        #menu #left{
        color: white;
        font-size: 22;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 22;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%
    }
}
@media(max-width: 800px){
    #menu{
        background-color: grey;
        padding: 10px;
        overflow: hidden;
        font-size: 20px;
    }
        #menu #left{
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 470px){
    #menu{
        background-color: grey;
        overflow: hidden;
        font-size: 18px;
    }
    #menu #left{
        color: white;
        font-size: 18px;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 18px;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 430px){
    #menu{
        background-color: grey;
        overflow: hidden;
        font-size: 12px;
    }
        #menu #left{
        color: white;
        font-size: 12px;
        padding: 2px 6px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 12px;
        padding: 2px 6px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 400px){
    #menu{
        background-color: grey;
        padding: 4px;
        overflow: hidden;
        font-size: 12px;
    }
        #menu #left{
        color: white;
        font-size: 12px;
        padding: 8px 10px;
        float: left;
        text-align: center;
        text-decoration: none
    }
    #menu #right{
        color: white;
        font-size: 12px;
        padding: 8px 10px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
